@*<div>
        <object id='pdfbox' type="application/pdf" data="@Url.Action("GeneratePdf", "Home")" />
    </div>*@
<div class="d">
    <iframe src="@Url.Action("GeneratePdf", "Home")"></iframe>
</div>
